* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: white;
  margin-bottom: 4rem;
}

h1 {
  color: #666666;
  font-size: 2.5rem;
  font-family: 'Literata', serif;
  margin: 2rem 4rem 0rem;
  padding: 0rem;
}

article {
  margin-left: 4rem;
  margin-right: 4rem;
}

h2 {
  color: #888888;
  font-size: 2rem;
  font-family: 'Literata', serif;
}

h3 {
  color: #444444;
  font-size: 1.5rem;
  font-family: 'Literata', serif;
  font-weight: 900;
}

h3 i {
  color: #d65076;
}

nav {
  font-family: 'Literata', serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: 900;
  padding: 2rem 4rem 2rem 4rem;
  margin: 0rem;
  background-color: #d65076;
}

nav a:link {
  font-family: 'Literata', serif;
  color: white;
  text-decoration: none;
}

nav a:visited {
  font-family: 'Literata', serif;
  color: white;
  text-decoration: none;
}

nav a:hover {
  font-family: 'Literata', serif;
  color: #444444;
  text-decoration: none;
}

nav img {
  border: solid 1px #ffffff;
  margin-left: 1rem;
  margin-top: -7rem;
  overflow: hidden;
  float: right;
  height: 280px;
  width: 200px;

-webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
}

nav img:hover {
  -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
       -o-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}

.logo {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3rem;
  text-transform: none;
  word-spacing: 0;
}

body {
  font-family: 'Literata', serif;
  font-size: 1rem;
  color: #444444;
}

a:link {
  color: #d65076;
  text-decoration: none;
}

a:visited {
  color: #228b22;
}

a:hover {
  color: white;
  background-color: #d65076;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: relative;
}

.flex-box {
  width: 100%;
  min-height: 30rem;
  padding: 0rem 2rem 2rem;
  margin: .5rem;
  box-sizing: border-box;
  transition: background-color 2s ease-out;
}

.flex-box:nth-child(6n+1) {
  background-color: #f3dcd4;
}

.flex-box:nth-child(6n+2) {
  background-color: #ecc9c7;
}

.flex-box:nth-child(6n+3) {
  background-color: #d9e3da;
}

.flex-box:nth-child(6n+4) {
  background-color: #d1cfc0;
}

.flex-box:nth-child(6n+5) {
  background-color: #c2c2b4;
}

.flex-box:nth-child(6n+6) {
  background-color: #CCCCCC;
}

footer {
  background-color: #666666;
  padding: 2rem 4rem 2rem 2rem;
  margin-top: 2rem;
}

.footer-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: right;
}

.footer-text a:link {
  color: white;
  text-decoration: none;
}

.footer-text a:visited {
  color: white;
  text-decoration: none;
}

.footer-text a:hover {
  color: white;
  text-decoration: none;
  background-color: #666666;
}

@media screen and (min-width: 1280px) {
  .flex-box {
    width: 30%;
  }

}

@media screen and (max-width: 1024px) {
nav img {
      display: none;
  }

nav {
    font-size: 3rem;
  }

  nav a:link {
    font-family: 'Literata', serif;
    color: white;
    text-decoration: none;
  }

  nav a:visited {
    font-family: 'Literata', serif;
    color: white;
    text-decoration: none;
  }

  nav a:hover {
    font-family: 'Literata', serif;
    color: #444444;
    text-decoration: none;
  }

  .logo {
    font-size: 6rem;
    text-transform: none;
  }

  .flex-box {
    width: 100%;
    min-width: 0;
  }
  .flex-container {
    flex-flow: column wrap;
  }
}
