header {
  backgroud-color: white;
  margin-bottom: 4rem;
}
h1 {
  color: #d65076;
  font-size: 6rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 2rem 4rem 0rem;
  padding: 0rem;
}

h1 a:link {
  color: #d65076;
  text-decoration: none;
}

h1 a:visited {
  color: #d65076;
  text-decoration: none;
}

h1 a:hover {
  background-color: white;
  color: #444444;
  text-decoration: none;
}

.subtitle {
  color: #AAAAAA;
  font-size: 2rem;
  font-family: 'Yrsa', serif;
  margin: 1rem 4rem 3rem;
  padding: 0rem;
}

article {
  margin-left: 4rem;
}

h2 {
  color: #666666;
  font-size: 3rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

nav {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  word-spacing: 2rem;
  padding: 2rem 4rem 2rem 4rem;
  background-color: #d65076;
}

nav a:link {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  word-spacing: 2rem;
}

nav a:visited {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  word-spacing: 2rem;
}

nav a:hover {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  word-spacing: 2rem;
  background-color: white;
}

p {
  font-family: 'Yrsa', serif;
  font-size: 1rem;
  color: #444444;
}

a:link {
  color: #d65076;
}

a:visited {
  color: #AAAAAA;
}

a:hover {
  color: white;
  background-color: #d65076;
}

img {
  border-style: solid;
  border-width: 3px;
  border-color: #666666;
}

img:hover {
  border-style: dashed;
  border-width: 3px;
  border-color: #d65076;
}

footer {
  background-color: #666666;
  padding: 2rem 4rem 2rem 2rem;
}

.footer-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: right;
}

.footer-text a:link {
  color: white;
  text-decoration: none;
}

.footer-text a:visited {
  color: white;
  text-decoration: none;
}

.footer-text a:hover {
  color: white;
  text-decoration: none;
  background-color: #666666;
}
