h1 {
  color: #d65076;
  font-size: 6rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: lighter;
}

h1 a:link {
  color: #d65076;
  text-decoration: none;
}

h1 a:visited {
  color: #d65076;
  text-decoration: none;
}

h1 a:hover {
  background-color: white;

  color: #666666;
  text-decoration: none;
}

.subtitle {
  color: #AAAAAA;
  font-size: 2rem;
  font-family: 'Yrsa', serif;
}

h2 {
  color: #FFFFFF;
  font-size: 24px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  background-color: #d65076;
  padding: .5rem;
  display: inline-block;
}

nav {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #444444;
}

p {
  font-family: 'Yrsa', serif;
  font-size: 18px;
  color: #444444;
}

a:link {
  color: #d65076;
}

a:visited {
  color: #888888;
}

a:hover {
  color: white;
  background-color: #d65076;
}

img {
  border-style: solid;
  border-width: 3px;
  border-color: #666666;
}

img:hover {
  border-style: dashed;
  border-width: 3px;
  border-color: #d65076;
}

footer {
  background-color: #666666;
  padding: 2rem;
}

.footer-text {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: white;
  text-align: right;
}
